extend base.pug

block title
 title This Is Contact Page
block scripts
 script(src="/static/index.js")
block style
 style
  include ../static/style.css
  include ../static/contact.css
block content
 nav#navbar
        ul
          div#mainlogo
           img(src="../static/logo.png", alt="My Logo" class= "top" )
           p.sig RKS
          li #[a(href="") HOME]
          li #[a(href="") ABOUT]
          li #[a(href="") CLASS INFO]
          li #[a(href="/contact" target ="_blank") CONTACT US]
 h1 Contact Detail's
 form#form(action="/form" method= 'post')
    input.inp(type="text" placeholder= 'Enter your Name' name = 'name')
    input.inp(type="number" placeholder= 'Enter your Age' name = 'age')
    input.inp(type="text" placeholder= 'Enter your Gender' name = 'gender')
    input.inp(type="number" placeholder= 'Enter your Phone Number' name = 'phone')
    input.inp(type="email" placeholder= 'Enter your Email' name = 'email')
    input.inp(type="text" placeholder= 'Enter your Address' name = 'address')
    button.btn Submit